/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.content-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.container {
    min-height: 80.7vh
}

button {
    font-family: 'Poppins', sans-serif;
    width: max-content !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 2rem !important;
    margin: 1rem;
    font-weight: 400 !important;
}

.form-control, input {
    border-radius: 1.5rem;
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 300%;
    margin-left: 1.5%;
    color: rgb(80, 78, 78);
    font-weight: 400;
}