input {
    margin-bottom: 1rem;
}

label {
    width: 100%
}

button {
    width: max-content;
    border-radius: 2rem;
    margin: 1rem;
    font-weight: 400;
}

.container {
    margin-top: 4rem;
}