<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="main-title">All Bookings</h1>
        </div>
        <hr class="col-12">
        <div class="col-md-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Order Date</th>
                        <th>Car</th>
                        <th>PickUp Mode</th>
                        <th>Delivery Mode</th>
                        <th>Status</th>
                        <th>Booking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings">
                        <td>{{booking._id}}</td>
                        <td>{{booking.orderdate}}</td>
                        <td>{{booking.carmake}} {{booking.carmodel}}</td>
                        <td>{{booking.pickupmode}}</td>
                        <td>{{booking.deliverymode}}</td>
                        <td>{{booking.status}}</td>
                        <td><a class="btn btn-primary" routerLink="/bookings/{{booking._id}}">View Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>