<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="row col-md-9 justify-content-center">
            <h2 class="sub-heading text-center">Edit Car</h2>
            <form (ngSubmit)="submit()">
                <div class="row form-group justify-content-center">
                    <label for="model">Model:<input type="text" class="form-control" name="model" required
                            placeholder="Model" [(ngModel)]="car.model"></label>
                    <label for="brand">Brand:<input type="text" class="form-control" name="brand" required
                            placeholder="Brand" [(ngModel)]="car.brand"></label>
                    <label for="year">Year:<input type="year" class="form-control" name="year" required
                            placeholder="Year" [(ngModel)]="car.year"></label>
                    <label for="price">Price:<input type="number" class="form-control" name="price" required
                            placeholder="Price" [(ngModel)]="car.price"></label>
                    <label for="img">Image URL:<input type="text" class="form-control" name="img" required
                            placeholder="Image" [(ngModel)]="car.img"></label>
                    <label for="transmission">Transmission:<input type="text" class="form-control" name="transmission"
                            required placeholder="Transmission" [(ngModel)]="car.transmission"></label>
                    <label for="horsepower">Horsepower:<input type="number" class="form-control" name="horsepower"
                            required placeholder="Horsepower" [(ngModel)]="car.horsepower"></label>
                    <label for="description">Description:<textarea class="form-control" name="description" cols="30"
                            rows="10" placeholder="Description" required
                            [(ngModel)]="car.description"></textarea></label>

                    <button class="btn btn-primary content-text" type="submit">Update Car</button>
                </div>
            </form>
        </div>
    </div>
</div>