<form (ngSubmit)="submit()" #userregister="ngForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 row justify-content-center">
                <h2 class="sub-heading">Register</h2>
                <h4>{{displayMessage}}</h4>
                <label for="firstName">First Name:
                    <input type="text" class="form-control" name="firstName" required placeholder="First Name"
                        [(ngModel)]="user.firstName"></label>
                <label for="lastName">Last Name:
                    <input type="text" class="form-control" name="lastName" required placeholder="Last Name"
                        [(ngModel)]="user.lastName"></label>
                <label for="email">Email:
                    <input type="email" class="form-control" name="email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                        required placeholder="Email" [(ngModel)]="user.email"></label>
                <label for="password">Password:
                    <input type="password" class="form-control" name="password" required placeholder="Password"
                        [(ngModel)]="user.password"></label>
                <label for="confirmpassword">Confirm Password:
                    <input type="password" class="form-control" name="confirmpassword" required placeholder="Password"
                        [(ngModel)]="confirmpassword"></label>
                <label for="phone">Phone Number:
                    <input type="phone" class="form-control" name="phone" required placeholder="Phone Number"
                        [(ngModel)]="user.phone"></label>
                <label for="address">Address:
                    <textarea class="form-control" cols="30" rows="5" name="address" required placeholder="Address"
                        [(ngModel)]="user.address"></textarea></label>
                <button class="btn btn-primary" type="submit" [disabled]="userregister.form.invalid">Register</button>
            </div>
        </div>
    </div>
</form>