nav {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #203A43, #0F2027);
    background: linear-gradient(to top, #203A43, #0F2027);
}

.nav-item a {
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.navbar-brand b {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 1.25rem;
}

.log-out:hover{
    cursor: pointer;
}