<nav class="navbar navbar-expand-lg navbar-dark nav-bg-color">
    <a class="navbar-brand brand-styling" href="/"><b>Throttle</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="stroke: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="d-flex align-items-end navbar-nav ml-lg-auto jump">
            <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/browse">Browse</a></li>
            <li class="nav-item"><a class="nav-link"*ngIf="userService.customerloggedIn()" routerLink="/bookservice">Book Car Service</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.customerloggedIn()" routerLink="/myorders">My Orders</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.employeeloggedIn()|| userService.adminloggedIn()" routerLink="/orders">All Orders</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.customerloggedIn()" routerLink="/viewmybookings">My Bookings</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.employeeloggedIn()|| userService.adminloggedIn()" routerLink="/viewallbookings">All Bookings</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.adminloggedIn()" routerLink="/addcar">Add Car</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.adminloggedIn()" routerLink="/editusers">Edit Roles</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="!userService.loggedIn()" routerLink="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="!userService.loggedIn()" routerLink="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="userService.loggedIn()" href="#" (click)="userService.removeToken()">Log Out</a></li>
        </ul>
    </div>
</nav>