<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Order Date</th>
                        <th>Car</th>
                        <th>PickUp Mode</th>
                        <th>Delivery Mode</th>
                        <th>Status</th>
                        <th>Booking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings">
                        <td>{{booking._id}}</td>
                        <td>{{booking.orderdate}}</td>
                        <td>{{booking.carmake}} {{booking.carmodel}}</td>
                        <td *ngIf="booking.pickupmode=='I will drop the car off myself'">Customer drop-off</td>
                        <td *ngIf="booking.pickupmode!='I will drop the car off myself'">Collect from customer</td>
                        <td *ngIf="booking.deliverymode=='I will collect the car myself'">Customer picks up</td>
                        <td *ngIf="booking.deliverymode!='I will collect the car myself'">Deliver to customer</td>
                        <td>{{booking.status}}</td>
                        <td><a class="btn btn-primary" routerLink="/bookings/{{booking._id}}">View Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>