<div class="container margin-top">
    <div class="row justify-content-center">
        <h4 class="sub-heading"><b>Order Id:</b> {{booking._id}}</h4>
        <h6 class="sub-heading"><b>Order Status:</b> {{booking.status}}</h6>
        <h6 class="sub-heading"><b>Order Pickup Mode:</b> {{booking.pickupmode}}</h6>
        <h6 class="sub-heading"><b>Order Pickup Date:</b> {{booking.pickupdate}}</h6>
        <h6 class="sub-heading"><b>Order Delivery Mode:</b> {{booking.deliverymode}}</h6>
        <h6 class="sub-heading"><b>Order Delivery Date:</b> {{booking.deliverydate}}</h6>
        <a class="btn btn-primary" *ngIf="userService.adminloggedIn() || userService.employeeloggedIn()" routerLink="/bookings/process/{{booking._id}}">Process</a>
        <hr>
        <div class="col-md-9 row justify-content-center">
            <div class="col-md-6 car-tab">
                <h5 class="sub-heading"><b>Car Info</b></h5><br><br><br>
                <p class="sub-heading"><b>Car:</b> {{booking.caryear}} {{booking.carmake}} {{booking.carmodel}}</p>
                <p class="sub-heading"><b>Maintenace List:</b></p>
                <ul class="sub-heading" *ngFor="let repair of maintenancelist">
                    <li>{{repair}}</li>
                </ul>

            </div>
            <div class="col-md-6 customer-tab">
                <h5 class="sub-heading"><b>Customer Info</b></h5><br>
                <p class="sub-heading"><b>Customer Name:</b> {{customer.firstName}} {{customer.lastName}}</p>
                <p class="sub-heading"><b>Customer Phone:</b> {{customer.phone}}</p>
                <p class="sub-heading"><b>Customer Address:</b> {{customer.address}}</p>
            </div>
        </div>
    </div>
</div>